@import 
url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: black;
    margin:0;
    background-image: url(https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg);
}

.container{
    width: 100%;
    margin: 50px auto 0 auto;
}

.header {
    padding: 15px;
    margin-bottom: 35px;
}

h1{
    
}


    



